<!--Doctype is a TAG. html is an Attribute-->
<!DOCTYPE html>
<!--some attributes must follow with a value to take action-->
<html lang="en">

<!--Machine Part code-->
<head>
    <meta charset="UTF-8">
    <title>My Portfolio - Enzo Potenzone✌️</title>
    <!--    bridge between html and css-->
    <link rel="stylesheet" href="/styles/style.css">
    <script src="/scripts/backend.js"></script>
</head>

<!--Human Part code-->
<body>
<!--Page main wrapper-->
<div class="body">
    <div class="NavBar">Nav Bar</div>
    <div class="PageBody">
        <div class="Banner">
            <h4>Hi, my name is Enzo. I'm a graphic designer and future web developer.</h4>
            <p>Trying to know what to do with my life is what I do</p>
        </div>

        <!-- To Do List body -->
        <input type="Enter a new To do ✍️" class="myInput">
        <button onclick="AddTodo()">add new to do</button>
        <ul>
            <li>

            </li>
        </ul>
    </div>
    <div class="LeftSideBar">Left Side Bar</div>
    <div class="RightSideBar">Right Side Bar</div>
    <div class="Footer">Footer</div>
</div>
</body>
</html>